# Servidor
PORT=3000

# Base de Datos (Neon Serverless + Prisma)
DATABASE_URL=""

# Hedera Network
HEDERA_NETWORK="testnet"
HEDERA_OPERATOR_ID=""
HEDERA_OPERATOR_KEY=""

# Redis / BullMQ (Colas de tareas)
REDIS_URL=""

# Servicios de terceros
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
STRIPE_SECRET_KEY=""
